<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <title>Sadayuki は こんな人</title>
    <link rel="stylesheet" href="/ios.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="alternate" href="/feed.atom" type="application/atom+xml" title="AtomFeed" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2794003-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'ja'}
    </script>

  </head>
  <body>
    <div id="container">
      <h1><a href="/">Sadayuki は こんな人</a></h1>

<% @posts.each do |p| %>
<div style="padding: 5px 5px 5px 5px;">
  <h2 style="border-bottom: dotted; margin-bottom: 0px"><a href="/text/id/<%= p['id'] %>.html"><%= p['title'] %></a></h3>
  <a href="http://sadayuki.kurano.name/post/<%= p['id'] %>"><span style="font-size: small;">Type: <%= p['type'] %></span> , 
  <span style="font-size: small;">Posted at: <%= Time.at(p['timestamp']) %></span></a>
  <div style="padding: 5px 5px 5px 5px;">
    <%= p['body'] %>
  </div>
  <div style="padding: 2px 2px 2px 5px;">
    <g:plusone></g:plusone>
  </div>
</div>
<% end %>

      </div>

    </div>
  </body>
</html>
